<button (click)="isAuthenticated = !isAuthenticated" class="btn btn-success mb-5">Toggle Button</button>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tortor semper, ultrices diam vel, auctor mi. Sed
  tellus lectus, lobortis sit amet tempor malesuada, ultrices nec nisl. Quisque varius dolor purus. Quisque gravida
  varius magna, eget ornare justo pretium eget. Suspendisse vitae turpis vel nisl luctus consectetur sit amet non sem.
  Maecenas facilisis felis vitae feugiat eleifend. Ut sed lacus pretium, venenatis urna eu, lobortis justo.

  Donec sagittis pretium viverra. Pellentesque euismod ut risus sit amet ornare. Morbi faucibus ligula a posuere
  tincidunt. Quisque sapien ipsum, gravida quis massa quis, rhoncus ornare ante. Sed porttitor metus ut diam
  sollicitudin pharetra. Nam semper arcu nibh, in hendrerit urna bibendum id. Mauris dignissim est a arcu lacinia, vitae
  luctus erat fringilla. Cras eu augue vel orci sodales faucibus at sed massa.

  Curabitur elit augue, accumsan nec semper nec, venenatis id augue. Integer gravida nulla vitae lorem laoreet
  condimentum sit amet finibus tellus. Suspendisse mattis leo vel ante imperdiet fermentum nec quis eros. Suspendisse
  mattis convallis diam sed porttitor. Phasellus sed lacinia sapien, sit amet cursus risus. Etiam vitae semper nulla.
  Vivamus sollicitudin magna ipsum, ac luctus felis mattis eget. Nullam et risus a magna placerat finibus. Aenean
  feugiat eros id libero sollicitudin pretium ornare sit amet ipsum. Quisque dapibus, magna at mollis condimentum, lorem
  velit euismod elit, mollis laoreet turpis magna in sem. Integer suscipit lacus et nisi auctor elementum. Nulla id
  dapibus lacus, sit amet lobortis urna. Pellentesque at ex eget sem laoreet pellentesque. Pellentesque pharetra
  condimentum eros id interdum.</p>
