<div class="jumbotron">
  <h1 class="display-4">Lorem Ipsum!</h1>
  <p class="lead">onec a orci scelerisque, porta libero id, pretium lectus. Nullam egestas faucibus est, vitae laoreet orci convallis at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</p>
  <hr class="my-4">
  <p>Nunc eu ullamcorper nunc, non gravida lectus. Aenean at condimentum tellus. Nullam malesuada elit massa. Phasellus tincidunt eleifend facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur, arcu eu commodo iaculis, ante diam vehicula eros, vitae pulvinar leo ligula at tortor. Aliquam erat volutpat. Curabitur pharetra enim at nibh fermentum pharetra</p>
  <a class="btn btn-primary btn-lg" [routerLink]="['/', 'about']" role="button">About</a>
</div>
